@media screen and (max-width: 576px) {
  .navbar,
  .team-parent,
  .features {
    flex-direction: column;
  }
  .team-image,
  .fact-container,
  .sponsor-img {
    grid-template-columns: 1fr;
  }
  .fact-container,
  .sponsor-img {
    justify-items: center;
    gap: 30px;
  }
  .fact-section {
    text-align: center;
    justify-items: center;
  }
  .team-title-parent {
    width: 100%;
    margin: 20px;
    text-align: center;
  }
  .features {
    gap: 0;
    justify-items: center;
  }
  #btn-primary {
    margin-left: 20px;
    margin-top: 20px;
  }
}

/* tablet device */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .navbar,
  .team-parent,
  .features {
    flex-direction: column;
  }
  .fact-container,
  .sponsor-img {
    grid-template-columns: repeat(2, 1fr);
  }
  .fact-container,
  .sponsor-img {
    justify-items: center;
    gap: 30px;
  }
  .fact-section {
    text-align: center;
    justify-items: center;
  }
  .team-title-parent {
    width: 100%;
    margin: 20px;
    text-align: center;
  }
  #btn-primary {
    margin-left: 20px;
    margin-top: 20px;
  }
}
