@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* common css */
.display-flex {
  display: flex;
}
.max-width {
  max-width: 1440px;
  margin: 0 auto;
}
.bg-color {
  background-color: rgba(255, 144, 14, 0.1);
}
.dark-1 {
  color: #131313;
}
.dark-3 {
  color: rgb(114, 114, 114);
}
.btn {
  font-size: 1.25rem;
  font-weight: 500;
  padding: 20px 25px;
  color: #ffffff;
  background-color: #ff900e;
  border-radius: 8px;
  border: none;
}

/* navbar */
.navbar {
  justify-content: space-between;
  align-items: center;
}
.navbar h3 {
  font-size: 2.88rem;
  font-weight: 500;
  color: rgb(19, 19, 19);
}

.nav-items {
  list-style: none;
}
.nav-items a {
  text-decoration: none;
  color: rgb(66, 66, 66);
  margin-right: 30px;
}

/* banner */
.banner {
  padding-bottom: 20px;
}
.banner-parent {
  max-width: 860px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
}
.banner h2 {
  font-size: 4rem;
  font-weight: 500;
  color: Dark 01;
}
.banner img {
  width: 100%;
}

/* team style */
.team-image {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}
.team-parent {
  align-items: center;
  margin-top: 75px;
}
.team-title {
  font-size: 2.89rem;
}
.team-1 {
  color: #727272;
  font-weight: 500;
}
.team-2 {
  color: #131313;
  font-weight: bold;
}
.team-3 {
  color: #ff900e;
  font-weight: 500;
}
.team-title-parent {
  width: 530px;
  margin-left: 130px;
}

/* features section */
.features {
  margin: 100px auto;
  gap: 140px;
}
.features-title {
  font-size: 2.89rem;
  font-weight: 500;
  color: #131313;
}
#features-title-parent {
  border-left: 5px solid #ff900e;
  padding-left: 20px;
}
.features-card-title {
  font-size: 20px;
  font-weight: 500;
  color: #131313;
}
.features-image img {
  width: 100%;
}
.features-card {
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  margin-top: 10px;
  margin-bottom: 20px;
}

.btn-years {
  font-size: 4rem;
  font-weight: 700;
}
.btn-experience {
  font-size: 25px;
  font-weight: 500;
}
#btn-primary {
  padding: 45px 42px;
  margin-left: -100px;
  margin-top: -100px;
}

/* fact style */
.fact-title {
  font-size: 2.89rem;
  font-weight: 500;
  color: #131313;
  margin-top: 5px;
  margin-bottom: 10px;
}
.fact-card {
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #ff900e;
  width: 240px;
  height: 240px;
  border-radius: 8px;
  padding: 20px 30px;
}
.fact-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}
.fact-number {
  font-size: 2.89rem;
  font-weight: 500;
  color: #424242;
  margin-top: 5px;
  margin-bottom: 10px;
}
.fact-name {
  font-size: 1.25rem;
  font-weight: 500;
  color: #727272;
  margin-top: 10px;
}
.fact-des {
  max-width: 540px;
}

/* sponsor */
.sponsor {
  margin: 100px auto;
}
.sponsor-img {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
}
.sponsor-img img {
  filter: grayscale(100%);
}
.sponsor-title {
  font-size: 2.89rem;
  font-weight: 500;
  color: #131313;
  margin-top: 5px;
  margin-bottom: 10px;
}
.sponsor-title-parent {
  max-width: 540px;
  margin: 40px auto;
  text-align: center;
}
